<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] %c - %m%n" />
        </layout>
    </appender>

    <appender name="mainLog" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="TRACE" />
        <param name="File" value="${catalina.base}/logs/${pom.artifactId}.log" />
        <param name="MaxFileSize" value="10000KB" />
        <param name="MaxBackupIndex" value="20" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] %c{2} - %m%n" />
        </layout>
    </appender>

    <appender name="userLog" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO" />
        <param name="File" value="${catalina.base}/logs/${pom.artifactId}-user.log" />
        <param name="MaxFileSize" value="10000KB" />
        <param name="MaxBackupIndex" value="20" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %m%n" />
        </layout>
    </appender>

    <appender name="queryLog" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO" />
        <param name="File" value="${catalina.base}/logs/${pom.artifactId}-anonymous_search.log" />
        <param name="MaxFileSize" value="10000KB" />
        <param name="MaxBackupIndex" value="20" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %m%n" />
        </layout>
    </appender>

    <appender name="hibernateLog" class="org.apache.log4j.FileAppender">
        <param name="Threshold" value="DEBUG" />
        <param name="Append" value="false" />
        <param name="File" value="${catalina.base}/logs/${pom.artifactId}-hibernate-schema.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <category name="no.freecode" additivity="false">
        <priority value="debug" />
        <appender-ref ref="mainLog"/>
        <appender-ref ref="console"/>
    </category>


<!--    ### log schema export/update ###-->
<!--    log4j.logger.org.hibernate.tool.hbm2ddl=info-->


<!-- 
    <category name="org.springframework.org.hibernate">
        <priority value="debug" />
    </category>

    <category name="net.sf.ehcache">
        <priority value="debug" />
    </category>

    <category name="org.springframework.security">
        <priority value="debug" />
    </category>
 -->
 
     <category name="org.hibernate.tool.hbm2ddl.SchemaExport">
        <priority value="debug" />
        <appender-ref ref="hibernateLog"/>
    </category>

    <category name="userLog">
        <priority value="debug" />
        <appender-ref ref="userLog"/>
    </category>

    <category name="queryLog">
        <priority value="info" />
        <appender-ref ref="queryLog"/>
    </category>

    <root>
        <priority value="info" />
        <appender-ref ref="console" />
        <appender-ref ref="mainLog" />
    </root>

</log4j:configuration>
