@CHARSET "UTF-8";

/* falstad-fargen (grønt): #919100 */ /* blått: #003366 */
html,body {
    font-family: verdana, "Tahoma MS", Helvetica, Arial, Sans-Serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    color: #222222;
    text-align: center;
    height: 100%;
}

table#wholePage {
    height: 100%;
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

td#rightHeader {
    background-color: #919100;
    height: 98px;
    width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

a#loginLink {
    padding: 0.5em;
    float: right;
    color: white;
    text-decoration: none;
    font-size: 80%;
}

td#headerLogo {
    float: left;
    height: 98px;
    width: 190px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center -1px;
    vertical-align: top;
}

td#menuArea {
    padding: 0;
    width: 190px;
    vertical-align: top;
    background-color: black;
    color: white;
}

td#mainContentWrapper {
    padding: 0;
    vertical-align: top;
}

#mainContent {
    vertical-align: top;
    margin: 0;
    padding: 1.5em 2em;
    max-width: 95em;
    text-align: left;
}

/* Global info & errors. */
div.info,div.error {
    margin-bottom: 1em;
}

/* Text formatting. */
h1 {
    margin-top: 0;
}

h1,h2 {
    color: #003366;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

span.soft {
    color: grey;
}

/* Horizontal line. */
div.ruler {
    margin: 0 2em 1em 2em;
    border-bottom: 1px solid #919100;
    padding-top: 1em;
    /* width: 90%; */
}

/* Links. */
a {
    color: #222222;
}

a:hover {
    color: #919100;
}

/* General table stuff. */
th {
    text-align: left;
    padding-right: 1em;
}

/* Widgets. */
a.button {
    padding: .4em 1em .5em 25px;
    /* padding: .4em 1em .5em 25px; */
    text-decoration: none;
    position: relative;
    color: black;
}

a.button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

a.clickie {
    cursor: pointer;
    color: blue;
}

/* Form fields. */
fieldset.main { /* border-color: #003366; */ /* border-color: black; */
    margin-bottom: 1em;
}

fieldset.main legend { /* color: #003366; */ /* color: #919100; */
    font-size: 110%;
}

fieldset.sub {
    border: solid 1px #cccccc;
    margin-bottom: 0.5em;
}

fieldset.sub legend {
    color: #000000;
    font-size: 80%;
}

table.fixedWidth th {
    width: 12em;
}

table.fixedWidth {
    width: 100%;
}

table.withMargin {
    margin: 1em;
}

/* Dialogs */
div.dialog fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
    text-align: left;
}

/* Searching. */
div.searchContainer {
    margin: 2em auto;
    padding: 1em;
    width: 35em;
    /* background-color: #dadab5; */
}

div.searchMenu {
    font-size: 80%;
    padding: 0.2em 4px;
    /* font-weight: bold; */
}

div.searchMenu a {
    text-decoration: none;
    color: blue;
}

div.searchMenu span {
    padding-right: 1em;
}