@CHARSET "UTF-8";

/* falstad-fargen (grønt): #919100 */ /* blått: #003366 */
html,body {
    font-family: verdana, "Tahoma MS", Helvetica, Arial, Sans-Serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    text-align: center;
}

div#header {
    background-color: #919100;
    height: 120px;
    width: 100%;
}

#headerLogo {
    float: left;
    height: 120px;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center 7px;
}

div#mainContent {
    vertical-align: top;
    margin: 0 auto;
    padding: 1em;
    width: 900px;
    text-align: left;
}

/* Text formatting. */
span.soft {
    color: grey;
}

/* General table stuff. */
th {
    text-align: left;
    padding-right: 1em;
}

/* Widgets. */
a.button {
    padding: .4em 1em .5em 25px;
    /* padding: .4em 1em .5em 25px; */
    text-decoration: none;
    position: relative;
}

a.button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

a.clickie {
    cursor: pointer;
    color: blue;
}

/* Form fields. */
fieldset.main {
    border-color: #003366;
    margin-bottom: 1em;
}

fieldset.main legend {
    color: #003366;
    font-size: 110%;
}

fieldset.sub {
    border: solid 1px #cccccc;
    margin-bottom: 0.5em;
}

fieldset.sub legend {
    color: #000000;
    font-size: 80%;
}

table.fixedWidth th {
    width: 12em;
}

table.fixedWidth {
    width: 100%;
}

table.withMargin {
    margin: 1em;
}

/* Dialogs */
div.dialog fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
    text-align: left;
}